
.patria {
    max-width: 75%;
    margin: 0 auto;
}
.patria__cards {
    margin: 0 auto;
    padding: 0;
}

.patria__cards_item {
    list-style: none;
    grid-template-areas:
        "patria__title patria__cards_artista"
        "patria__card_img paragrafo"
        "patria__cards_link paragrafo"
        ". paragrafo";
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2em;
}
.patria__title{
    align-self: last baseline;
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    max-width: 48%;
    grid-area: patria__title;
}
.patria__card_img{
    width: 100%;
    grid-area: patria__card_img;
}
.patria__cards_artista{
    padding: 0;
    list-style: none;
    grid-area: patria__cards_artista;
    align-self: last baseline;
}
.artista{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
.patria__cards_author{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.paragrafo{
    margin: 0;
    grid-area: paragrafo;
    align-self: first baseline;
}
.patria__cards_content{
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 163%; 
}
.patria__cards_link{
    grid-area: patria__cards_link;
    align-self: first baseline;
    text-decoration: none;
    background-color: #0278FE;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    border-radius: 5px;
    font-weight: 600;
    width: fit-content;
}
.patria__cards_link:hover {
    background: #0063D2;
}
@media(max-width: 800px){
    .patria {
        max-width: 100%;
    }
} 
@media(max-width: 450px){
    .patria__cards_item {
        grid-template-areas:
            "patria__title" 
            "patria__cards_artista"
            "patria__card_img"
            "paragrafo"
            "paragrafo"
            "patria__cards_link";
        display: grid;
        grid-template-columns: 1fr;
    }
}