.patria {
    max-width: 984px;
    margin: 0 auto;
    padding: 0;
}

.patria__list {
    margin: 0;
    padding: 0;
}

.card {
    margin: 0;
    padding: 0;
    grid-template-areas:
        "t ."
        "t ."
        "t ."
        "t a"
        "t ac"
        "i p"
        "l p"
        ". p";
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.patria__title {
    margin: 0;
    padding: 0;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    max-width: 460px;
    grid-area: t;
}

.patria__img {
    margin: 0;
    padding: 0;
    max-width: 460px;
    width: 100%;
    grid-area: i;
}

.artista {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    grid-area: a;
    color: #AAAAAA;
}

.patria__author {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    max-width: 456px;
    grid-area: ac;

}

.paragrafo {
    margin: 0;
    padding: 0;
    grid-area: p;
    align-self: first baseline;
}

.patria__content {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    width: 484px;
    line-height: 163%;
}

.card__link {
    margin: 0;
    padding: 13px 20px;
    grid-area: l;
    align-self: first baseline;
    text-decoration: none;
    background-color: #0278FE;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    width: fit-content;
    font-size: 14px;
    line-height: 17px;
}

.card__link:hover {
    background: #0063D2;
}

/* ------------------------------------------------------800px--------------------------------------- */
@media(max-width: 800px) {
    .patria {
        max-width: 768px;
        margin: 0 auto;
        padding-left: 24px;
    }

    .patria__title {
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        max-width: 340px;
    }

    .patria__img {
        max-width: 340px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .patria__content {
        max-width: 352px;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
    }
}

/* ------------------------------------------------------450px--------------------------------------- */

@media(max-width: 450px) {
    .patria {
        max-width: 320px;
        padding-left: 16px;
    }

    .card {
        grid-template-areas:

            "t"
            "a"
            "ac"
            "i"
            "p"
            "p"
            "l";
        display: grid;
        grid-template-columns: 1fr;
    }

    .patria__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }

    .patria__img {
        margin: 0 auto;
        max-width: 320px;
        width: 100%;
    }

    .patria__content {
        margin: 0;
        padding: 0;
        margin-bottom: 7px;
        font-size: 16px;
        max-width: 288px;
        line-height: 163%;
    }

    .card__link {
        margin: 0 auto;
        font-size: 14px;
        line-height: 17px;
        margin-top: 25px;
        margin-bottom: 39px;
    }
}