.header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    padding: 0;
    margin: 0 auto;
    display: flex;
    padding-top: 34px;
}

.header__title {
    margin: 0 auto;
    padding: 0;
    max-width: 793px;
    text-align: center;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    margin-top: 92px;
}

.header__subtitle {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    padding: 2em 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400
}

.foto {
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.foto__item {
    width: 100%;
}

@media (max-width: 800px) {
    .header {
        max-width: 100%;
        margin: 0 auto;
    }

    .foto {
        width: 100%;
        margin: 0 auto;
    }

    .header__title {
        max-width: 720px;
    }
}

@media(max-width: 450px) {
    .header {
        max-width: 1280px;
    }
    .logo {
        max-width: 200px;
    }

    .foto {
        margin-top: 40px;
    }

    .header__title {
        margin: 0 auto;
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
        padding: 0;
        margin-top: 51px;
    }

    .header__subtitle {
        margin: 0 auto;
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
        padding: 0;
        margin-top: 60px;
    }
}