.galeria {
    margin: 0 auto;
    padding: 0;
    max-width: 90%;
    grid-template-areas: 
        "i i i i" 
        "i i i i"; 
    display: grid; 
    grid-gap: 1em; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: repeat(2, 1fr); 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}
.item {
    width: 100%;
    margin: 0;
    padding: 0;

}

.itens__img {
    margin: 0;
    padding: 0;
    width: 100%;
    grid-area: i; 
}

@media(max-width: 800px) {
    .galeria {
        max-width: 95%;
               grid-template-areas: 
                "i i" 
                "i i" 
                "i i" 
                "i i"; 
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: repeat(4, 1fr); 
                
    }
  
}

@media(max-width: 450px) { 

.galeria { 
    grid-template-areas: 
        "i" 
        "i" 
        "i" 
        "i" 
        "i" 
        "i" 
        "i" 
        "i"; 
    display: grid; 

    grid-template-columns: 1fr; 
    grid-template-rows: repeat(8, 1fr); 

} 

} 