.galeria {
    margin: 0 auto;
    padding: 0;
    max-width: 90%;
    
}

.item {
    margin: 0;
    padding: 0;
    width: 100%;
    column-count: 4;
    justify-content: space-around;

}

.item__img {
    margin: 0;
    width: 100%;
    padding: 4px;
}

@media(max-width: 800px) {
    .galeria {
        max-width: 95%;
    }
    .item {
        width: 100%;
        column-count: 2;
    }

}

@media(max-width: 450px) {

    .item {
        width: 100%;
        column-count: 1;
    }

}