.apresentacao {
    max-width: 80%;
    min-width: 50%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.apresentacao__title {
    font-size: 54px;
}

.apresentacao__cite {
   font-size: 24px;
}

.apresentacao__author {
    font-size: 24px;
    text-align: right;
}

.apresentacao__text {
    font-size: 16px;
}



@media(max-width: 800px) {
    .apresentacao {
        max-width: 100%;
        min-width: 320px;
    }

    .apresentacao__title {
        padding-left: 0.5em;
        max-width: 95%;
    }

    .apresentacao__cite {
        padding-left: 1em;
        max-width: 95%;
    }

    .apresentacao__author {
        padding-left: 1em;
    }

    .apresentacao__text {
        padding-left: 1em;
        max-width: 95%;
    }
}

@media(max-width: 450px) {
    .apresentacao {
        max-width: 100%;
    }
}