.apresentacao {
    max-width: 80%;
    min-width: 50%;
    margin: 0 auto;
}

.apresentacao__title {
    max-width: 75%;
    font-size: 54px;
}

.apresentacao__cite {
    max-width: 65%;
    font-size: 24px;
}

.apresentacao__author {
    max-width: 65%;
    font-size: 24px;
    text-align: right;
}

.apresentacao__text {
    max-width: 65%;
    font-size: 16px;
}
@media(max-width: 800px){
    .apresentacao {
        max-width: 100%;
        min-width: 80%;
    }
    .apresentacao__title {
        padding-left: 0.5em;
    }
    
    .apresentacao__cite {
        padding-left: 1em;
    }
    
    .apresentacao__author {
        padding-left: 1em;
    }
    
    .apresentacao__text {
        padding-left: 1em;
    }
}
@media(max-width: 450px){
    .apresentacao {
        max-width: 100%;
    }
}