.apresentacao {
    max-width: 984px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 92px;
    padding-bottom: 92px;
}

.apresentacao__title {
    margin: 0;
    padding: 0;
    font-size: 54px;
    padding-bottom: 75px;
}

.apresentacao__cite {
    margin: 0;
    padding: 0;
   font-size: 24px;
}

.apresentacao__author {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: right;
    padding-top: 9px;
    padding-bottom: 32px;
}

.apresentacao__text {
    margin: 0;
    padding: 0;
    font-size: 16px;
}



@media(max-width: 800px) {
    .apresentacao {
        max-width: 95%;
    }

    .apresentacao__title {
        padding-left: 0.5em;
        max-width: 80%;
    }

    .apresentacao__cite {
        padding-left: 1em;
        max-width: 95%;
    }

    .apresentacao__author {
        padding-left: 1em;
    }

    .apresentacao__text {
        padding-left: 1em;
        max-width: 95%;
    }
}

@media(max-width: 450px) {
    .apresentacao {
        max-width: 98%;
    }
}